:root {
  --clr-accent-400: #37ECEE;

  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #f5f5f5;

  --clr-neutral-700: #333333;
  --clr-neutral-800: #202020;

  --clr-background: var(--clr-neutral-700);
  --clr-foreground: var(--clr-neutral-100);


  --ff-primary: 'Poppins', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-ligt: 300;
  --fw-regular: 400;
  --fw-light-bold: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-lg-bold: 800;

  --fs-300: 1rem;
  --fs-400: 1.125rem;

  --fs-500: 1.25rem; 
  --fs-550: 1.875rem; 

  --fs-600: 2.5rem; 
  --fs-650: 2.8125rem;  
  --fs-700: 4.375rem;

  --fs-logo: 2.25rem;
 
  --fs-primary-heading: var(--fs-550);
  --fs-secondary-heading: var(--fs-500);
  --fs-nav: var(--fs-400);
  --fs-body: var(--fs-300);
  --fs-button: var(--fs-300);
}

@media (min-width: 30em) {
  /* :root{ 
    --fs-primary-heading: var(--fs-650);
    --fs-secondary-heading: var(--fs-500);
    --fs-body: var(--fs-400);
    --fs-button: var(--fs-400);
  } */
  
}

@media (min-width: 60em) {
  /* :root{ 
    --fs-primary-heading: var(--fs-700);
    --fs-secondary-heading: var(--fs-650);
  } */
  
}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */

.lightmode {
  --clr-background: var(--clr-neutral-100);
  --clr-foreground: var(--clr-neutral-700);
  
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--clr-background);
  color: var(--clr-foreground);
  font-family: var(--ff-primary);

}




/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* Utility Clases */

.fs-lg-bold { font-weight: var(--fw-lg-bold);}
.fw-bold { font-weight: var(--fw-bold);}
.fw-semi-bold { font-weight: var(--fw-semi-bold);}
.fw-light-bold { font-weight: var(--fw-light-bold) }
.fw-regular { font-weight: var(--fw-regular);}
.fw-ligt { font-weight: var(--fw-ligt);}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-logo {
  font-size: var(--fs-logo);
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-nav {
   font-size: var(--fs-nav);
}

.container {

   --max-width: 1596px;
   --padding: 3rem;
 
    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto ;
 
}


 /* NAVBAR STYLING */
 .navbar {
    position: fixed;
    z-index: 999;
    padding: 5px 0; 
    width: 100%;
    color: var(--clr-foreground);
    transition: all 0.3s ease;
    /* background: var(--clr-foreground); */
 }

 .navbar.sticky {
  padding: 10px 0; 
  background: var(--clr-background);
}

 .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .navbar .logo a {
  color: var(--clr-foreground);
  text-decoration: none;
}

 .navbar .menu li{
  display: inline-block;
  margin-left: 3rem;
  /* text-decoration: none; */
  /* transition: color 5s ease; */
}

.navbar .menu li a{
  text-decoration: none;
  color: var(--clr-foreground);
  transition: color 0.3s ease;
}


.navbar .menu li a:hover {
  color: var(--clr-accent-400);
}

.navbar .menu li button{
  background: none;
  border: none;
  font-size: 20px;
  color: var(--clr-foreground);
  cursor: pointer;
 }

/* MENU btn  */
.menu-btn {
  color: var(--clr-foreground);
  font-size: 20px;
  cursor: pointer;
  display: none;
}


/* HOME SECTION STYLING */

 .home {
  color: var(--clr-foreground);
 }

 .home .container {
  text-align: center; 
  display: flex;
  justify-content: center;
} 

 .home img { 
  z-index: -10;
}

 .home .home-content {
  position: absolute; 
 
  /* top: 2%;  */
  margin-top: clamp(8.625rem, 17vw ,27.25rem);
  margin-left: clamp(1rem, 5vw ,25.8125rem);
 
} 

.home .home-content .text-1 {
  font-size: clamp(var(--fs-550), 0.5rem + 5vw ,var(--fs-700));
}

.home .home-content .text-1 span {
  color: var(--clr-accent-400);
}


.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-media li{
   margin: 1rem;
   font-size: 2rem;
   cursor: pointer;
  
}

.social-media li:hover{
  color: var(--clr-accent-400);
 
}


.home .d-small {
  content: url("img/bg-dark-small.jpg");
}

.home .l-small {
  content: url("img/bg-light-small.jpg");
}


/* MEDIA QUERY */

@media (min-width: 20em) {
 
}

@media (max-width: 42em) {

  .menu-btn {
    display: block;
  } 

 
  .navbar .menu {
    position: fixed;
    height: 20rem;
    width: 16rem;
    top: 4rem;
    right: -200%;
    background: var(--clr-background);
    text-align: center;
    transition: all 0.3s ease;
  }

   .navbar .menu.active {
    right: 1.5rem;
  } 
  .navbar .menu li {
     display: block;
     margin: 0;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
 }
}



@media (max-width: 47.3em) {
  /* change background images for main */
   /* .home img {
         content: url("img/bg-dark-small.jpg");
    }  */
 
  
   } 
 


@media (min-width: 47.4em) {
 /*change background images for main */
    .home .d-small {
        content: url("img/bg-dark-big.jpg"); 
      
 }  
 
 .home .l-small{
  content: url("img/bg-light-big.jpg"); 

}  

 /* Change position of Primary Heading  */
  .home .container {
    justify-content: start;
    text-align: left; 
     
    
  } 

 

 
}

@media (min-width: 60em) {
 
}

@media (min-width: 75em) {

}

@media (min-width: 100em) {
 
}

@media (min-width: 120em) {
 
}


@media (min-width: 1300px) {
  .home .home-content { 
    margin-left: clamp(5rem, 5rem + 50vw ,10rem);
    
  } 

  .social-media {
    display: block;
    position: fixed;
    top: 40vh;
    left: 1rem;
   }

}

